<nav-page id="app-page" ng-controller="AppCtrl">

  <tabs tabs-type="tabs-icon-only" tabs-style="tabs-calm" animate-nav="false">

    <!-- Map tab -->
    <tab icon="icon ion-map" ng-controller="MapCtrl">
      <header-bar type="bar-calm" title="'Map Around'"></header-bar>
      <content has-header="true">
        <div id="map-canvas" class="event-map"></div>
      </content>
    </tab>

    <!-- About tab -->
    <tab icon-on="icon ion-ios7-information" icon-off="icon ion-ios7-information-outline">
      <header-bar type="bar-calm" title="'Map Around'"></header-bar>
      <content has-header="true">
        <div class="padding">
          <h3>About this app</h3>
          <p>
            Find what's going on around you.
          </p>
        </div>
      </content>
    </tab>

  </tabs>
</nav-page>

