<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Map Around</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- ionic css -->
    <link href="css/ionic.css" rel="stylesheet">

    <!-- your app's css -->
    <link href="css/app.css" rel="stylesheet">

    <!-- ionic/angularjs scripts -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPTuWtdL0JlVUiscO9arznZVHGNmTaWvI&sensor=true"></script>
    <script src="js/ionic.js"></script>
    <script src="js/angular/angular.js"></script>
    <script src="js/angular/angular-animate.js"></script>
    <script src="js/angular/angular-route.js"></script>
    <script src="js/angular/angular-touch.js"></script>
    <script src="js/angular/angular-sanitize.js"></script>
    <script src="js/ionic-angular.js"></script>
    <script src="js/min/date-utils.js"></script>
    <script src="js/min/eventful.js"></script>
    <script src="js/min/markerCluster.js"></script>
    <script src="js/min/markerSpider.js"></script>

    <!-- cordova script -->
    <script src="cordova.js"></script>

    <!-- your app's script -->
    <script src="js/app.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>

  </head>

  <body ng-app="maparound" ng-controller="AppCtrl">

    <div class="bar bar-header bar-calm">
      <button class="button button-icon icon ion-ios7-minus-outline" ng-click="resetZoom()"></button>
      <div class="h1 title">Map Around</div>
      <button class="button button-icon icon ion-ios7-search" ng-click="openSearchModal()"></button>
    </div>

    <div class="scroll-content has-header" ng-controller="MapCtrl">
      <div class="loader" ng-class="{active: showLoader}">
        <div class="title flasher">{{loadingText}}</div>
      </div>
      <div id="map-canvas" class="event-map"></div>
    </div>

    <script id="searchModal.html" type="text/ng-template">
      <div class="modal">
        <header class="bar bar-header bar-calm">
          <h1 class="title">Find Events</h1>
          <button class="button button-icon icon ion-ios7-close-empty" ng-click="closeSearchModal()"></button>
        </header>
        <content has-header="true">
          <div class="list">
            <div class="padding">
              <label class="item item-input">
                <span class="input-label">Location</span>
                <input id="address" type="text" ng-model="search_form.location.address" placeholder="e.g. Phoenix, AZ" ng-blur="geocodeLocation()" select-on-click>
              </label>
              <label class="item item-input">
                <span class="input-label">Keywords</span>
                <input type="text" ng-model="search_form.keywords" placeholder="Optional">
              </label>
              <label class="item item-input">
                <span class="input-label">Radius</span>
                <input type="number" ng-model="search_form.distance" placeholder="In miles">
              </label>
              <button class="button button-full button-calm" ng-click="searchForEvents()" ng-class="{disabled: !search_form.location.address || geocoding}">Search</button>
            </div>
          </div>
        </content>
      </div>
    </script>

    <script id="infoModal.html" type="text/ng-template">
      <div class="modal">
        <header class="bar bar-header bar-calm">
          <h1 class="title">Information</h1>
          <button class="button button-icon icon ion-ios7-close-empty" ng-click="closeInfoModal()"></button>
        </header>
        <content has-header="true">
          <div class="padding">
            <div ng-bind-html="infoPartyContent"></div>

            <div class="party-info-window">
              <h1 class="party-header">{{eventInfo.name}}</h1>
              <p class="party-meta">
                <span>{{eventInfo.location.address}}</span> 
                <span ng-bind-html="eventInfo.timeString">
              </p> 
              <hr> 
              <div class="party-content">
                <p ng-bind-html="eventInfo.description"></p>
                <div ng-show="eventInfo.url">
                  <p class="party-link">
                    <button class="button button-full button-light" open-url="{{eventInfo.url}}">Click for more info</button>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </content>
      </div>
    </script>

  </body>
</html>
