@import "ionic/ionic";

.event-map {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

.disabled {
	opacity: .5;
}

.main-color {
  color: $calm !important;
}

.loader {
	position: absolute;
	z-index: 100;
	width: 100%;
	background: rgba(255, 255, 255, 0.92);
	height: $bar-height;
	border-bottom: 1px solid $bar-calm-active-border;
	text-align: center;
	color: $calm !important;
	font-size: 15px !important;

	.title {
		padding-top: 12px;
	}

  @include translate3d(0, -$bar-height, 0);
	@include transition(all linear 200ms);

	&.active {
		@include translate3d(0, 0, 0);
	}
}

// Map styles //
.party-info-window {
  width: 100%;

  h1, p {
    font-family: $font-family-sans-serif;
  }

  p {
    font-size: 16px;
  }

  h1 {
    font-weight: normal;
    font-size: 20px !important;
  }

  hr {
    border: none;
    border-top: 1px solid #EEE;
    margin: 18px 0px;
  }

  .party-meta {
    color: #555;
    margin-top: 5px;
  }

  .party-link {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .party-content {

  }
}

.flasher {
    animation-name: blinker;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}